{% extends "users/base.html" %}
{% load static %}
{% block title %} Login Page {% endblock title%}
{% block content %}

<div class="sign-bg">
    <div  class="sign mx-auto border border-secondary" style="height: 100vh;">

        <a href="{% url 'users-home' %}" id="cancel" name="cancel" class="btn btn-default float-end">&#x2716;</a>
    
        <main class="form-signin m-auto text-center pt-5">
            <form action="" method="POST">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                                <small>{{ value }}</small>
                            {% endfor %}
                        </div>

                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
    
                <h3>Welcome Back</h3>
    
                <p class="my-3" style="font-size: 12px;">Enter the email address and password associated with your account to Login</p>
    
                <div class="form__group field">
                    {{ form.username }}
                    <label class="form__label" for="Username">Username</label>
                </div>
    
                <div class="form__group field">
                    {{ form.password }}
                    <label class="form__label" for="password">Enter Password</label>
                </div>
    
                <button type="submit" class="w-100 btn btn-primary mt-4">Continue</button>
    
                <div class="mt-5 mx-auto"style="width: 70%; text-align: center; border-bottom: 1px solid #a5a5a5; line-height: 0.1em; margin: 10px 0 20px; justify-content;">
                    <span style=" background-color: #fff; padding: 0 10px;">or</span>
                </div>
    
                <a class="w-100 btn btn-outline-danger text-dark my-4" href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'Images/google.svg' %}" width="18px"> Continue with Google</a>
        
                <a class="w-100 btn btn-outline-primary text-dark" href="#"><img src="{% static 'Images/fb.svg' %}" width="18px"> Continue with Facebook</a>
        
                <p class="my-4">No account? <a href="{% url 'users-register' %}" class="text-decoration-none"><b>Sign Up</b></a></p>
            </form>
        </main>
    </div>
</div>
{% endblock content %}